/* hero */
.custom-shape-divider-bottom-1709363450 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1709363450 svg {
    position: relative;
    display: block;
    width: calc(189% + 1.3px);
    /* height: 800px; */
    transform: scaleX(1.1);
}

/* form */
.custom-shape-divider-bottom-1709375037 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotateX(180deg);
}

.custom-shape-divider-bottom-1709375037 svg {
    position: relative;
    display: block;
    width: calc(200% + 600px);
}

/* about us */
.custom-shape-divider-bottom-1709382700 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1709382700 svg {
    position: relative;
    display: block;
    width: calc(145% + 1.3px);
    height: 280px;
}

/* footer */
.custom-shape-divider-bottom-1709749424 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1709749424 svg {
    position: relative;
    display: block;
    width: calc(256% + 1.3px);
}